@import url(../css/minified.css);
/* .auth-sidebar-content{
    background-color: #fb9403;
    background-image: url(../img/signUp/fabric-light.png);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: 30px;
    height: 100vh;
} */

* a{
    text-decoration: none;
    color:#000;
}

.chooseRoleContent{
    margin:0 350px;
}

.logo{
    width:150px;
}

.logo:hover{
    filter: invert(71%) sepia(34%) saturate(5291%) hue-rotate(358deg) brightness(98%) contrast(100%);
}

.role--taxiDriver a:hover{
    background-color:#e7e7e7;
    color:#000;
}

.signupContent{
    margin:0 auto;
}



.fa-solid,
  .fa-brands,
  .fa-sharp-solid {
    background-color: rgb(255, 255, 255);
    border-radius: 0.2em;
    padding: 0.2em;
  }

  /* custom styling for specific icons */
  .fa-black {
    color: rgb(0, 0, 0);
  }

  .fa-yellow{
    color: #FFFF00;
  }

  .fa-white{
    color: #fff;
    background-color: rgb(190, 190, 190);
  }

  .fa-red{
    color: #ff0000;
  }
  .fa-green{
    color: #00ff00;
  }

  .fa-gray{
    color: #808080;
  }
  .fa-blue{
    color: #0000ff;
  }
  .fa-brown{
    color: #a52a2a;
  }

  .fa-silver{
    color: #c0c0c0;
  }

  .fa-orange{
    color: #FFA500;
  }

  .fa-lightBlue{
    color: #ADD8E6;
  }

  .fa-user-ninja.vanished {
    opacity: 0.2;
  }

